
.course-box-link {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}
   
.course-box {
    padding: 25px 20px 10px 20px;
    max-width: 100%;
    width: 220px;
    min-width: 220px;
    min-height: 182px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 21px -1px rgba(115,115,115,0.18);
    border-radius: 8px;

    &:hover {
        p {
            color: #fff;
        }

        img {
            filter: brightness(0) invert(1);
        }
    }

    &.orange {
        border-bottom: 6px solid $brand-color;

        &:hover {
            background-color: $brand-color;
            transition: all 0.3s;
        }
    }

    &.green {
        border-bottom: 6px solid $mid-green;

        &:hover {
            background-color: $mid-green;
            transition: all 0.3s;
        }
    }

    p {
        margin-bottom: 0;
        font-size: 21px;
        color: $text-color;
        line-height: 25px;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 71px;
        height: 71px;

        img {
            object-fit: cover;
        }
    }
}