textarea{
    &.form-control {
        height: 100px;
    }
}

.form-control {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;

    font-size: 14px;


    footer & {
        border: 0;
    }
}

.form{
    &br{
        display: none;
    }

    input:not([type="submit"]) {
        margin-bottom: 10px;
      }
}