
.nav-container {
    @media(max-width: 991px) {
        max-width: 991px;
    }
}

.nav {
    justify-content: center;
    flex-wrap: wrap;

    &.orange {
        .nav-item {
            .nav-link {

                &.active {
                    background-color: $brand-color;                   
                    border-right: 1px solid $brand-color;
                    border-left: 1px solid $brand-color;

                    &:after {
                        border-top: 16px solid $brand-color;
                        @media(max-width: 991px) {
                            display: none;
                        }
                    }

                }
            }



        }   
    }

    &.green {
        .nav-item {
            .nav-link {
                &.active {
                    background-color: $brand-green;
                    
                border-left: 1px solid $brand-green;
                border-right: 1px solid $brand-green;
    
                    &:after {
                        border-top: 16px solid $brand-green;
                    }
                }
            }
        }   
    }

    .nav-item {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
        
        @media(max-width: 767px) {
            width: 100%;
            flex-basis: auto;
        }

        .nav-link {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 20px;
            color: $text-color;
            font-family: $font-ArabicMedium;
            text-align: center;
            border-radius: 0;
            background-color: #f1f1f1;
            height: 100%;
            font-weight: bold;
            border-left: 1px solid $subject-border-grey;
            border-right: 1px solid $subject-border-grey;
            
            @media(max-width: 621px) {
                border-left: 1px solid $subject-border-grey;
                border-right: 1px solid $subject-border-grey;
            }
            @media(max-width: 991px) {
                font-size: 18px;
            }
            br {
                @media(max-width: 991px) {
                    display: none;
                }
            }

            &.active {
                color: #fff;

                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-right: 15px solid transparent;
                    border-left: 15px solid transparent;
                    display: block;
                    margin: auto;
                    position: absolute;
                    bottom: -15px;

                }
            }
        }
        @media only screen and (min-width: 769px) {
            &:first-child > .nav-link{
                border-left:1px solid transparent;
            }
            &:last-child > .nav-link{
                border-right:0px solid transparent;
            }
        }

        @media only screen and (max-width: 768px) {
            border-top: 1px solid $subject-border-grey;
            border-bottom: 1px solid $subject-border-grey;
            &:first-child{
                border-bottom: 1px solid transparent;
            }
            &:last-child{
                border-top: 1px solid transparent;
            }
        }


    }
    &.large {
        font-size: 20px;
    }

    &.small {
        font-size: 16px;
    }
}

.tab-content {
    padding-top: 50px;
}