table {
    border-bottom: 1px solid #ededed;
    line-height: 2;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    width: 100%;

    width: 100%;
    min-width: max-content;

    td {
        border: 1px solid #F7F7F7;
        padding: 12px;
        font-size: 14px;
        color: #414141;
    }

}