.meet-the-team {

    .title {
        padding-bottom: 30px;
    }

    .teams {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .item {
            padding-bottom: 30px;
            width: 17%;  
            text-align: center; 

            @media (max-width: 1199px) {
                width: 30%;
            }

            @media (max-width: 767px) {
                width: 47%;
            }
            
            
            .image {
                margin: 0 auto;
                width: 161px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $mid-grey;
            }

            .name {
                padding-top: 20px;
                font-size: 20px;
                font-family: $font-ArabicMedium;
            }

            .position {
                padding-top: 5px;
                font-size: 16px;
            }
        }
    }
}   