.two-column-text{
    
    &.large-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    &.small-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .two-column-text-wrapper {
        
        &:not(:last-child) {
            border-right: 1px solid #a7a7a7;
        }
          
    }
}

