
    .course-load {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40px;    
    
        padding-top: 30px;
    
        .load-item {
            margin-bottom: 30px;
            padding: 20px 30px;
            text-align: center;
            width: 218px;
            height: 182px;
            // min-width: 190px;
            box-shadow: 0 0 21px -1px rgba(115,115,115,0.18);
            border-radius: 8px;
            
    
            &:hover {
                span {
                    color: $brand-color;
                    transition: all 0.3s;
                }
            }
    
            .icon {
                margin: 0 auto 20px auto;
                max-width: 88px;
                max-height: 73px;
    
                img {
                    // width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
    
            p {
                margin: 0;
                font-size: 18px;
                color: $text-color;
                font-family: $font-ArabicMedium;
            }
    
            span {
                color: $text-color;
                font-size: 15px;
            }
        }
    }